# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://mcexzjzowwanxawbiizd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1jZXh6anpvd3dhbnhhd2JpaXpkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUzNzg4MjQsImV4cCI6MjA3MDk1NDgyNH0.-sAXcSK2crzmBULuPxRSfI9fNde9aQZxNvag2qkmZUs

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51RwzjrJKXslR96bIz6j7XQrpz92U8YatoN0uj2dmVP1AtN9nJE3CHeSxWrmWg9pGdsX5obDcdPqsco5ccLW18Eyv00sImNc5Ii
STRIPE_SECRET_KEY=sk_test_51RwzjrJKXslR96bIAUKh0Jzg18ZoJiqQ8KNJbqRHKah8k95Qz8hOOlethCrm6FDfb4NHZoWbKvVL1r9LE3Ep5OcG00xgfQVDX3

# Cryptomus
CRYPTOMUS_MERCHANT_ID=c2b099b4e7ccf66c5f0c3ea1085143da48ddfb63
CRYPTOMUS_API_KEY=c2b099b4e7ccf66c5f0c3ea1085143da48ddfb63

# PostHog
NEXT_PUBLIC_POSTHOG_KEY=your_posthog_key_here
NEXT_PUBLIC_POSTHOG_HOST=https://app.posthog.com

# Daily.co
DAILY_API_KEY=your_daily_api_key_here

# Other
NEXT_PUBLIC_APP_URL=http://localhost:3000
